<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
   <servlet> <!-- configuring springmvc -->
  	<servlet-name>SpringMVC</servlet-name> <!-- the name of spring config file for this servlet should be SpringMVC-servlet.xml  -->
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  
  <servlet-mapping> <!-- mapping springmvc servlet -->
  	<servlet-name>SpringMVC</servlet-name>
  	<url-pattern>/</url-pattern> <!-- / in url pattern means that all the request will be handled by dispatcherservlet -->
  </servlet-mapping>
</web-app>
